html,
body {
	min-width: 1200px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	background: #849d8f url("../img/") no-repeat center top;
  margin: 0;
}

.body-bg-1 {
	background: #849d8f url("../img/slide-1.png") no-repeat center top;
}

.inner-page {
	color: #000000;
	background: ;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 1146px;
	margin: 0 auto;
	padding: 0 27px;

}

.inner-page {
	
}

.disabled {
	display: none;
}
/*----------------------------------------- Header -----------------------------------------*/

.main-header {
	padding-top: 10px;
}
.main-navigation {
	float: left;
	width: 800px;
}

.main-navigation .logo {
	display: inline-block;
	float: left;
	width: 154px;
	height: 64px;
	margin-right: 14px;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.main-navigation li {
	display: inline-block;
	margin-left: 2px;
	margin-top: 12px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	vertical-align: top;
}

.main-navigation a {
	display: block;
	position: relative;
	padding: 6px 14px;
	color: #ffffff;
	text-decoration: none;

}

.main-navigation a::after {
	content: "";
	position: relative;
	bottom: 2px;
	display: block;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.main-navigation a:hover {
	color: #333333;
	background: #f7f6f3;
	border-radius:  20px;
}

.main-navigation a:active {
	box-shadow: inset 0 2px 3px 1px rgba(0, 0, 0, 0.5);
}

.main-navigation .active {
	color: #ffffff;
	background: #d07058;
}

.header-right-block {
	float: right;
	font-size: 0;
}

.header-right-block a {
	display: inline-block;
	padding: 6px;
	margin-left: 10px;
	margin-top: 13px;
	color: #ffffff;
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
	vertical-align: top;
	text-align: right;
	text-decoration: none;
	border-radius:  20px;
	background: rgba(255, 255, 255, 0.2);
}

.header-right-block .search {
	padding: 0;
	width: 32px;
	height: 32px;
	background: rgba(255, 255, 255, 0.2) url("");
}

.header-right-block .enter {
	padding-left: 45px;
}

.header-right-block .cart	{
	padding-left: 45px;
}

/*----------------------------------------- Index.html -----------------------------------------*/

.schedule {
	text-align: right;
	margin-bottom: 272px;
}

.schedule > span {
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
	font-weight: 700;
}

.schedule  .number {
	display: inline-block;
	font-size: 22px;
	line-height: 30px;
	font-weight: 900;
}

.slide  {
	width: 680px;
	margin: 0 auto;
	text-align: center;
}

[class^="main-promo-"] {
	display: inline-block;
	width: 680px;
	margin: 0;
	margin-bottom: 31px;
	font-size: 60px;
	line-height: 62px;
	font-weight: 500;
	text-shadow: 2px 6px px #000000;
}

.index-main-slider .slide-main-btn {
	padding: 13px 45px;
	border-radius:  40px;
	background-image: linear-gradient(#f26843, #e74a35);
	color: #ffffff;
	text-decoration: none;
	font-size: 31px;
	line-height: 62px;
	font-weight: 700;
}

.slide-btns {
	position: relative;
	left: 0;
	bottom: 46px;
}

.gifts {
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	margin-top: 22px;
	margin-bottom: 40px;
}

[class^="gifts-"] {
	position: relative;
	width: 560px;
	height: 229px;
	box-sizing: border-box;
	padding: 20px;
	padding-top: 16px;
	padding-bottom: 23px;
}

[class^="gifts-"] > h2 {
	font-size: 35px;
	line-height: 43px;
	font-weight: 700;
	margin: 0;
}

.gifts-left {
	float: left;
	background: url("../img/rassbery.png") no-repeat;
}

.gifts-right {
	float: right;
	background: url("../img/chocolate.png") no-repeat;
}

.btn {
	padding: 12px 22px;
	border-radius:  40px;
	background-image: linear-gradient(#f26843, #e74a35);
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn:hover {
	-webkit-filter: brightness(120%);
	box-shadow: inset 0 -2px 3px 1px rgba(0, 0, 0, 0.5);
}

.btn:active {
	-webkit-filter: brightness(90%);
	box-shadow: inset 0 2px 3px 1px rgba(0, 0, 0, 0.5);
}

[class^="gifts-"] > .btn {
	position: absolute;
	right: 21px;
	bottom: 18px
}

.items {
	font-size: 0;
	margin-bottom: 40px;
}

.items .item	{
	position: relative;
	display: inline-block;
	width: 267px;
	margin-right: 26px;
	text-align: center;
}

.items .item:nth-child(4n)	{
	margin-right: 0;
}

 .hit-img {
	position: absolute;
	top: 0;
	left: 0;
 } 
.item-price {
	position: absolute;
	top: 205px;
	left: 0;
	font-size: 45px;
	line-height: 53px;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
}

.item-feature {
	dispaly: inline;
	font-size: 16px;
	color: #ffffff;
	line-height: 21px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.item-feature:hover,
.item-feature:active {
	color: #ffbc9e;
	border-bottom: 1px solid rgba(255, 188, 158, 0.6);
}

.about {
	padding: 21px 30px 21px 26px;
	height: 306px;
	color: #323232;
	background: url("../img/wafes.png") no-repeat;
}

.about-left-column {
	float: left;
	width: 541px;
	box-sizing: border-box;
	padding-left: 57px;
}

.about-right-column {
	float: right;
	width: 541px;
	box-sizing: border-box;
	padding-left: 56px;
}

.about .about-title {
	margin: 0;
	margin-bottom: 15px;
	font-size: 24px;
	line-height: 32px;
	font-weight: 500;
}

.about p {
	margin: 0;
	margin-bottom: 23px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}

.news {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #5a5a5a;
}

.blog {
	float: left;
	width: 560px;
	height: 220px;
	box-sizing: border-box;
	padding: 23px 21px; 
	background: url("../img/blog_bg.png") no-repeat;
}

.blog span {
	display: inline-block;
	width: 100%;
	margin-bottom: 5px;
	font-weight: 500;
}

.blog-link {
	color: #5a5a5a;
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	text-decoration: none;
	border-bottom: 1px solid rgba(90,90, 90, 0.6);
}


.blog-link:hover,
.blog-link:active {
	color: #ec593c;
	border-bottom: 1px solid rgba(236, 89, 60, 0.6);
}

.newsletter {
	float: right;
	width: 560px;
	height: 220px;
	box-sizing: border-box;
	padding: 34px 27px; 
	background: url("../img/substrate.png") no-repeat;
}

.newsletter p {
	margin: 0;
	margin-bottom: 42px;
}

.newsletter .mail {
	display: inline-block;
	width: 346px;
	height: 49px;
	margin: 0;
	padding: 0 10px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #5a5a5a;
	border: 1px solid #d3d3d2;
	border-radius: 2px;
}

.newsletter .btn {
	float: right;
	padding: 10.5px 21px;
	font-size: 17px;
	margin: 0;
}



.map {
	width: 1200px;
	height: 430px;
	box-sizing: border-box;
	margin: auto;
	margin-top: 40px;
	padding: 20px 27px;
	background: url("../img/map.jpg") no-repeat;
}

.adress {
	float: right;
	width: 302px;
	height: 305px;
	padding: 30px 25px;
	box-sizing: border-box;
	background: #fefefd;
	border-radius: 15px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #343434;
}


.adress b {
	display: inline-block;
	margin: 1px 0;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.adress .adress-bold {
	margin-bottom: 18px;
}

.adress .btn {
	margin-top: 24px;
	margin-bottom: 30px;
}










.disabled {
	display: none;
}